@import '../sass/Media.scss';


.layout {

    &__search {
        display: block;
        position: relative;
        margin-bottom: 4rem;

    }

    &__one {

        top: 5%;
        background-color: white;
        padding: 1rem 1rem;
        overflow: hidden;
        margin: 0 auto;
        right: 0;
        // transform: translateY(-50%);

    }

    @include tablet {
        &__one {
            position: absolute;
            top: 50%;
            background-color: white;
            padding: 4rem 4rem;
            width: 50%;
            overflow: hidden;
            margin: 0 auto;
            right: 0;
            transform: translateY(-50%);

        }
    }


}