.google__login--image {
    width: 2rem;
    position: absolute;
    left: .5rem;
    top: .5rem;

}

.google__text {
    margin: 0;
    margin-left: 2rem;
    margin-right: 0rem !important;
}

.form-comments {
    margin-bottom: 1.5rem;

    &__avatar {
        border-radius: 49%;
        width: 2rem;
        margin: 0
    }
}