@import '../../sass/variables';
@import '../../sass/Media';

.c_header {
    width: 100%;

    h1,
    a {
        color: $color-black;
        font-size: 1.5rem;
    }

    span {
        display: flex;
        justify-content: space-between;
    }

    &__top {
        background-color: $color-pink;
        padding: $main-margin-padding/3 $main-margin-padding;

        justify-content: space-between;
        position: fixed;
        width: 100%;
        z-index: 999;

        @include tablet {
            display: flex;
        }

        a {
            font-size: .8rem;
            margin-right: .5rem;
        }

        i {
            margin-left: .5rem;
        }
    }

    &__bottom {
        padding: $main-margin-padding/3 $main-margin-padding;
        justify-content: space-between;
        border-bottom: solid 1px whitesmoke;
        align-items: center;
        padding: 1rem 2rem;
        padding-top: 3.5rem;

        @include tablet {
            display: flex;
        }

        h1 {
            margin: 0;
        }

        ul {
            margin: 0;
            padding: 0;
            text-align: right;
            margin-top: 1.5rem;
            margin-bottom: .5rem;

            @include tablet {
                margin-top: 1rem;
            }


            a {
                font-size: 1rem;
            }
        }

        li {
            display: inline-block;
            margin: 0 1rem;
        }
    }

    &__burger {
        width: 2rem;
        height: 1rem;
        position: relative;
        float: right;

        i {
            position: absolute;
            z-index: 99;
            right: 0;
            top: 0;
        }
    }


    &__side_navigation {
        position: fixed;
        width: 36%;
        background-color: $color-pink;
        min-width: 20rem;
        top: 0;
        height: 100vh;
        z-index: 9;
        padding: 4rem 2rem;

        &__hidden {
            transform: translate(-80vw);
            transition: transform 1s;
            opacity: none;
        }

        &__show {
            transform: translate(0vw);
            transition: transform 1s;
        }

        h3 {
            margin-top: 2.5rem;
        }

    }

    &__background {
        position: fixed;
        content: '';
        background-color: rgba(10, 9, 9, 0.53);
        z-index: 1;
        width: 100vw;
        height: 100%;
        top: 0;
    }



    &__search {
        font-family: 'Lato', sans-serif;
        font-size: 1.2rem;
        border: none;
        padding: 1.5rem 3.5rem;
        width: 100%;


    }
}