@import '../sass/Media.scss';




.posts__content {
    background-color: white;
    margin: auto;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    margin-top: 1rem;


    @include tablet {
        position: absolute;
        padding: 2rem 2rem;
        width: 84%;
        transform: translateY(60%);
    }

    @include desktop {
        margin: auto;
        position: absolute;
        bottom: 0;
        width: 80%;
        padding: 3rem 3rem;
        max-width: 40rem;
        /* left: 0; */
        right: 0;
    }
}